<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>page four of test app</title>
<link href="../stylesheets/application-stylesheet.css" rel="stylesheet" type="text/css" />
<style type="text/css"></style>
</head>

<body>

<div class="hk-icon-sm">
<img src="../images/hk-icon-sm.jpg" name="hk-icon-sm width="50" height="100" alt="information" border="0" id="hk-icon-sm" /></div>
<br><br><br><br>
<H1>
<p>this is page four

<br>
<a href="/page5">goto page five</a>
</H1>
</p>

<div class="mobile-toolbar">
<img src="../images/mobile-toolbar.jpg" name="mobile-toolbar width="640" height=75" alt="information" border="0" id="mobile-toolbar" /></div>

</body>


